.vs
**/wwwroot/assets/
**/wwwroot/upload/
**/wwwroot/dist/
**/wwwroot/lib/
**/bin
**/obj
/.idea
**/node_modules/
/public
/vendor
composer.lock
package-lock.json
package-jquery.json.back
npm-debug.log
database.db
database.db*
yarn-error.log
/logs
*database.db
CSVReader/database.db-shm
CSVReader/database.db-wal
