.ant-upload.ant-upload-drag
{
   background-color: #34495e !important;
   border: 4px dashed #e8ebeb !important;
}

.ant-upload.ant-upload-drag p.ant-upload-text {
    color: rgba(255, 255, 255) !important;
    font-weight: bold;
    font-size: 16px;
}

.ant-upload.ant-upload-drag p.ant-upload-hint {
    color: rgb(194 194 194) !important;
    font-size: 14px;
}

.cbp-af-header {
     height: 90px !important;
}