@using Entities.Other;
@model CsvFileInfo
@{
    ViewData["Title"] = "Home Page";
}

@section Scripts{
    <script type="module" src="~/dist/firstpage.js" asp-append-version="true"></script>
}

<ul>

</ul>


<div class="text-center">    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="app"></div>
