@using Entities.Other;
@model CsvFileInfo
@{
    ViewData["Title"] = "Home Page";
}

<ul>
CountRecords = @Model.CountRecords  CountColumns = @Model.CountColumns;
@foreach (var column in Model.Columns)
{
    <li>@column.Name</li>
}
</ul>


<div class="text-center">    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
